.about-text {
  width: 100%;
  margin: 1.5rem 0;
  font-family: var(--font-rubik);
  line-height: 1.5rem;
  font-size: var(--fs-base);
  color: var(--white);
  font-weight: var(--light);
}
.about-text .about-custom-text .about-text-who .main-text-gradient {
  font-family: var(--font-tusker-grotesk);
  -webkit-text-fill-color: transparent;
  background: var(--gradient-linear-primary);
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: var(--text-shadow-primary);
  font-weight: var(--semibold);
  font-size: var(--fs-size-smedium);
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 1200px) {
  .about-text {
    font-size: var(--fs-size-small);
    line-height: 1.2rem;
  }
  .about-text .about-custom-text .about-text-who .main-text-gradient {
    font-size: var(--fs-xbase);
  }
}
@media screen and (max-width: 480px) {
  .about-text .about-custom-text .about-text-who .main-text-gradient {
    font-size: var(--fs-base);
  }
}
