.line .branch-rounder {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--primary);
  border-radius: 50%;
}
.line .branch-line {
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--primary);
  transform: translate(6px, -7px);
}
@media screen and (max-width: 460px) {
  .line .branch-rounder {
    width: 11px;
    height: 11px;
  }
  .line .branch-line {
    transform: translate(5px, -7px);
  }
}
